{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/book.css' %}" />
</head>

<body>
    <div class="head">
        <a href="javascript:history.back()">
            <img class="imgbook" src="../static/icons/bTyLk6R8c.png" alt="">
            БИБЛИОТЕКА
            <img class="imgbook" src="../static/icons/bTyLk6R8c.png" alt="">
        </a>
    </div>
    <div class="bookone">
        <div class="book">
            <h1>Заголовок: </h1>
            <h2>Подзаголовок: </h2>
            <h2>Описание: </h2>
            <h2>Цена: </h2>
            <h2>Жанр: </h2>
            <h2>Автор: </h2>
            <h2>Год издание: </h2>
            <h2>Добавленно на сайт: </h2>
        </div>
        <div class="book">
            <h1>"{{ book_object.text }}"</h1>
            <h2>{{ book_object.subtitle }}</h2>
            <h2>{{ book_object.description }}</h2>
            <h2>{{ book_object.price }}</h2>
            <h2>{{ book_object.genre }}</h2>
            <h2>{{ book_object.author }}</h2>
            <h2>{{ book_object.year }}</h2>
            <h2>{{ book_object.created_at }}</h2>
        </div>
    </div>
</body>

</html>